body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sourceSelector {
  margin: 20px;
}

.article {
  width: 600px;
  margin-bottom: 40px;
  border-top: 1px solid #888;
}
.article > a {
  color: #764476;
  text-decoration: none;
}
.article > a > img {
  width: 600px;
  height: 100%;
}
